<div class="field">
  <p class="control" [ngClass]="{'has-icons-left':iconleft,'has-icons-right':iconright,'is-loading':loading}">
    <input class="input" [ngClass]="size ? 'is-'+size : ''" type="{{type}}" placeholder="{{placeholder}}"
      [attr.disabled]="disabled ? '' : null" [readonly]="loading ? true : false" [(ngModel)]="value">
    <span class="icon is-small is-left" *ngIf="iconleft">
      <i class="fas fa-{{iconleft}}"></i>
    </span>
    <span class="icon is-small is-right" *ngIf="iconright">
      <i class="fas fa-{{iconright}}"></i>
    </span>
  </p>
</div>
