/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300|Kurale|Nunito:800&display=swap');

$red:#fc5c65;
$pink: #fc5c65;
$brown: #757763;
$beige-light: #d2dae2;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Hind Madurai",
sans-serif;

$title-family: "Nunito",
sans-serif;
$title-weight: "800";

$radius: .5em;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: .1em;
$input-border-color: transparent;
$input-shadow: none;

$tooltip-max-width: 7.5rem;

@import '../node_modules/bulma/bulma.sass';
